fastapi
uvicorn
pandas
gspread
sentence-transformers
faiss-cpu
torch
python-dotenv
fuzzywuzzy
cupy-cuda12x
spacy
thinc[torch]
nltk
numpy
pydantic
scikit-learn
transformers
sentencepiece
protobuf
DocBin
